body {
    background-color: rgb(157, 97, 187);
    color: rgb(7, 0, 0);
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(73, 180, 145);
    color: rgb(63, 170, 170);
    font-family: "Playfair Display", serif;

}






